body {
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: Tahoma;
  font-size: 16px;
  background-image: url(https://cdn.pixabay.com/photo/2018/09/21/07/07/smiley-3692442_960_720.jpg);
}

h1 {
  font-weight: 600;
  line-height: 1.2;
  margin-top: 1.5rem;
  margin-bottom: opx;
}

.description {
  font-size: 1.4em;
  font-weight: 200;
  margin-top: 2px;
  font-style: italic;
  color: #808080;
}

h1,
p {
  text-align: center;
}

form {
  background-color: darkseagreen;
  padding: 40px;
  border-radius: 0.25rem;
  width: 40%;
  margin: 0 auto;
}

label {
  font-size: 20px;
  margin-bottom: 8px;
}

.label {
  font-size: 25px;
}

.heading {
  font-size: 25px;
  vertical-align: middle;
  text-align: left;
  margin-bottom: 15px;
}

.input-radio {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.input-radio input {
  width: 10%;
  margin-bottom: 0px;
  height: 20px;
}
.input-radio label {
  margin-bottom: 0px;
}

.input-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.input-checkbox input {
  width: 10%;
  margin-bottom: 0px;
  height: 20px;
}

.input-checkbox label {
  margin-bottom: 0px;
}

select {
  width: 100%;
  height: 50px;
  padding: 5px 10px;
}

#submit {
  text-align: center;
  width: 40%;
  border: 1px solid #808080;
  height: 30px;
  background-color: whitesmoke;
  font-size: 20px;
  font-weight: 200;
}

input {
  width: 100%;
  border: 1px solid #808080;
  height: 30px;
  padding: 5px 9px;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  border: 1px solid #808080;
  height: 50px;
  padding: 5px 9px;
  margin-bottom: 20px;
}

::placeholder {
  font-size: 15px;
}
